@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
    <script>
        var time = 10;
        var caption = "";
        $(document).ready(function () {
            //$.ajax({
            //    type: "GET",
            //    async: false,
            //    url: '/Event/GetNextNotification/'
            //}).success(function (data) {
            //    time = data["Time"];
            //    caption = data["Name"];
            //});

            var timerId = setTimeout(function tick() {
                if (caption != "")
                    alert(caption);
                $.ajax({
                    type: "GET",
                    async: false,
                    url: '/Event/GetNextNotification/'
                }).success(function (data) {
                    time = data["Time"];
                    caption = data["Name"];
                });
                timerId = setTimeout(tick, time);
            }, time);
        });
    </script>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
