@{
    ViewBag.Title = "Calendar";
}

<div class="navigationCalendarContainer">
    <div class="leftNav">
        <button type="button" class="btn btn-default btn-xs"> < </button>
        <button type="button" class="btn btn-default btn-xs"> > </button>
        Day/Week/Month
    </div>

    <div class="rightNav">
        <ul class="dropdown">
            <li class="dropdown">
                <a style="align-self:flex-end;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Show<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Day", "Index", "Home")</li>
                    <li>@Html.ActionLink("Week", "Index", "Home")</li>
                    <li>@Html.ActionLink("Month", "Index", "Home")</li>
                </ul>
            </li>
        </ul>
    </div>
</div>


<div class="miniCalendarContainer">
    <div id="datetimepicker"></div>
</div>

<div class="calendarContainer">
    <table class="calendarTable">
        <thead>
            <tr>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 1; i <= 5; i++)
            {
                <tr>
                    @for (int j = 1; j <= 7; j++)
                    {
                        <td>@(i * j)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        $('#datetimepicker').datepicker(
            {
                inline: true
            }
        );
    </script>
}