@model IEnumerable<web_calendar.BL.ViewModels.NotificationViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimeBefore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KindOfNotification)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TimeBefore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KindOfNotification)
        </td>
    </tr>
}

</table>
