@model web_calendar.BL.ViewModels.RepeatableSettingsViewModel

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Period)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Period)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepeatCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepeatCount)
        </dd>

    </dl>
</div>
