@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button onclick="getEvents()">Get events</button>
<button onclick="addEventByReference()">Add event</button>

<script>
    function getEvents() {
        $.ajax({            
            type: "get",
            url: "http://localhost:1697/api/events",
            contentType: "application/json; charset=utf-8",
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                alert(JSON.stringify(data));
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText || textStatus);
            }
        });
    }

    function addEventByReference() {
        var event = "{'name': 'eventbyref', 'text': 'event description', 'place': 'myplace'}";
        $.ajax({
            type: "post",
            url: "http://localhost:1697/api/events",
            contentType: "application/json; charset=utf-8",
            data: event,
            xhrFields: {
                withCredentials: true
            },
            success: function () {
                alert("Event successfully added!");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText || textStatus);
            }
        });       
    }
</script>
