@{
    ViewBag.Title = "Index";
}

<br />
<label id="eventName">My event</label><br />
<p id="eventText">Text of event</p><br />
<label>Place:</label><p id="eventPlace">Place of my event</p><br />
<button onclick="addEvent()">Add event</button>

<script>
    function addEvent() {
        var event = {};
        event["name"] = document.getElementById("eventName").innerText;
        event["Text"] = document.getElementById("eventText").innerText;
        event["Place"] = document.getElementById("eventPlace").innerText;
        addEventByReference(event);
    }

    function addEventByReference(event) {        
        //var event = "{'name': 'eventbyref', 'text': 'event description', 'place': 'myplace'}";
        $.ajax({
            type: "post",
            url: "http://localhost:1697/api/events",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(event),
            xhrFields: {
                withCredentials: true
            },           
            success: function (res) {
                window.open(res.RedirectUrl, "_blank");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                window.open("http://localhost:1697/Account/Login", "_blank");
            }
        });       
    }
</script>
