@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<label id="eventName">EventName</label>
<button onclick="getEvents()">Get events</button>
<button onclick="addEventByReference()">Add event</button>

<script>
    function getEvents() {
        $.ajax({            
            type: "get",
            url: "http://localhost:1697/api/events",
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                alert(data[0].Name);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText || textStatus);
            }
        });
    }

    function addEventByReference() {
        var eventName = document.getElementById("eventName").innerText;
        $.ajax({
            type: "post",
            url: "http://localhost:1697/api/events/",
            data: eventName,
            xhrFields: {
                withCredentials: true
            },
            success: function (jqXHR, textStatus) {
                alert(jqXHR.responseText || textStatus);            
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText || textStatus);
            }
        });
    }
</script>
