body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*-------------------------------------------------------------------*/
/*------------------------------custom css---------------------------*/
/*-------------------------------------------------------------------*/
.calendarWrapper {
    height: 90%;
}

.navigationCalendarContainer {
    width: 100%;
    background-color:blue;
    margin: 10px 10px 10px 0px;
}

.leftNav {
    padding-left: 0px;
    width: 75%;
    float: left;
    padding: 5px 5px 5px 5px;
}

.rightNav {
    width: 25%;
    float: right;
}

.miniCalendarContainer {
    width: 10%;
    float: right;
}

.calendarContainer {
    width: 90%;
    height: 100%;
    float: left;
}

.calendarMonthTable, .calendarDayTable, .calendarWeekTable {
    width: 100%;
    height: 100%;
}

.fixedHeader {
    width: 96.5%;
}

.scrollCalendar
{
    width: 98%;
    overflow-y:auto; 
    max-height:470px;
}

.monthHeadTh, .monthBodyTd, .timeColTh, .weekHeadTh, .timeColTd, .weekBodyTd {
    float: left;
    border: 1px solid white;
}

.timeColTd, .weekBodyTd, .dayBodyTd, .monthBodyTd{
}

.monthHeadTh, .monthBodyTd {
    width: 14%;
}

.timeColTh, .timeColTd {
    width: 4%;   
}

.weekHeadTh, .weekBodyTd {
    width: 13.7%;
}

.monthBodyTd {
    height: 101px;
}

.timeColTd, .weekBodyTd, .dayBodyTd {
    height: 40px;
}

.monthHeadTh, .timeColTh, .weekHeadTh {
    font-weight: bold;
    text-align: center;
}

.calendarEvent {
    text-align: center;
    color: royalblue;
    border-left: 3px solid deepskyblue;
}

/*required label*/

.required-label:after { 
   content:"*";
   color:red;
}