body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*-------------------------------------------------------------------*/
/*------------------------------custom css---------------------------*/
/*-------------------------------------------------------------------*/

.navigationCalendarContainer
{
    margin: 10px 10px 10px 0px;
}

.leftNav 
{
    width:90%; 
    float: left;
    padding-bottom: 10px;
}

.rightNav 
{
    width:10%; 
    float: right;
    padding-bottom: 10px;
}

.miniCalendarContainer
{
    width:20%; 
    float: left;
}

.calendarContainer
{
    width:80%; 
    float: right;
}

.calendarMonthTable, .calendarDayTable, .calendarWeekTable
{  
    background-color:aliceblue;
    width:100%; 
    height: 100%;
}

.calendarMonthTable thead tr, .calendarWeekTable thead tr 
{
    height: 30px;
    background-color:cadetblue;
}

.calendarMonthTable tbody tr
{
    height: 90px;
}

.timeCol
{
    width: 5%;
}

.col100
{
    width: 100px;
}

.calendarMonthTable th,
.calendarMonthTable td,
.calendarWeekTable th,
.calendarWeekTable td
{
    border: 2px solid white;
}

.fixedHeader td,
.calendarDayTable td 
{
    border: 2px solid white;
}

.scrollCalendar
{
    overflow-y:auto; 
    max-height:450px;
}

.fixedHeader 
{
    background-color: cadetblue;
    width: 98%;
    font-weight:bold;    
}