<script src="~/Scripts/customScripts.js"></script>

<div class="calendarMonthTable">
    <div class="monthHead">
        <div class="monthHeadTh">Sunday</div>
        <div class="monthHeadTh">Monday</div>
        <div class="monthHeadTh">Tuesday</div>
        <div class="monthHeadTh">Wednesday</div>
        <div class="monthHeadTh">Thursday</div>
        <div class="monthHeadTh">Friday</div>
        <div class="monthHeadTh">Saturday</div>
    </div>

    <div>
        @{int counter = 1;}

        @for (int i = 1; i <= 5; i++)
        {
            <div>
                @for (int j = 1; j <= 7; j++)
                {
                    <div id="cellId@(counter)" class="monthBodyTd">
                        @(i * j)
                        <div class="calendarEvent">event</div>
                        @{counter++;}
                    </div>
                }
            </div>
        }
    </div>

    <script type="text/javascript">
        ColorCalendarDays("#AA0000", 35);
    </script>
</div>