@model web_calendar.BL.ViewModels.CalendarViewModel

<script src="~/Scripts/customScripts.js"></script>

<div class="calendarMonthTable">
    <div class="monthHead">
        <div class="monthHeadTh" id="day1">Sunday</div>
        <div class="monthHeadTh" id="day2">Monday</div>
        <div class="monthHeadTh" id="day3">Tuesday</div>
        <div class="monthHeadTh" id="day4">Wednesday</div>
        <div class="monthHeadTh" id="day5">Thursday</div>
        <div class="monthHeadTh" id="day6">Friday</div>
        <div class="monthHeadTh" id="day7">Saturday</div>
    </div>

    <div>
        @{int counter = 1;}

        @for (int i = 1; i <= 5; i++)
        {
            <div>
                @for (int j = 1; j <= 7; j++)
                {
                    <div id="cellId@(counter)" class="monthBodyTd">
                        @(i * j)

                        @{counter++;}
                    </div>
                }
            </div>
        }
    </div>

    <script type="text/javascript">
        var model = @Html.Raw(Json.Encode(Model));
        SetMainColor(model.CSSHeadColor, 35);
        SetHeadColor(model.CSSHeadColor);
    </script>
</div>