@using web_calendar.DAL.Models
@model IEnumerable<CalendarEvent>

<div class="calendarDayTable">
    <div class="fixedHeader">
        <div class="dayHeadRow">
            <div class="timeColTd"></div>
            @foreach (CalendarEvent calendarEvent in Model)
            { 
                if (calendarEvent.AllDay.HasValue && calendarEvent.AllDay.Value)
                { 
                    <div class="dayBodyTd">@calendarEvent.Text</div>
                    break;
                }
            }
        </div>
    </div>

    <div class="scrollCalendar">
        @for (int i = 1; i <= 24; i++)
        {
            <div>
                <div class="timeColTd">@String.Format("{0:D2}:00", i)</div>
                <div class="dayBodyTd">
                    @{
                        bool flag = false;
                        foreach (CalendarEvent calendarEvent in Model)
                        {
                            if (calendarEvent.TimeBegin.Hour >= i && calendarEvent.TimeBegin.Hour <= i + 1)
                            {
                                <div class="calendarEvent">@calendarEvent.Name;</div>
                                flag = true;
                            }
                        }
                        if (!flag)
                        {
                            <div class="calendarEvent">@string.Empty</div>
                        }
                     }
                </div>
            </div>
        }
    </div>
</div>