@using web_calendar.DAL.Models
@model IEnumerable<CalendarEvent>

<div class="calendarWeekTable">
    <div class="fixedHeader">
        <div class="weekHeadRow">
            <div class="timeColTh"></div>
            <div class="weekHeadTh">Sunday</div>
            <div class="weekHeadTh">Monday</div>
            <div class="weekHeadTh">Tuesday</div>
            <div class="weekHeadTh">Wednesday</div>
            <div class="weekHeadTh">Thursday</div>
            <div class="weekHeadTh">Friday</div>
            <div class="weekHeadTh">Saturday</div>
        </div>
        <div class="weekHeadRow">
            <div class="timeColTh"></div>
            @for (int i = 0; i <= 6; i++)
            {
                <div class="weekHeadTh">
                    @foreach (CalendarEvent calendarEvent in Model)
                    {
                        if (calendarEvent.AllDay.HasValue && calendarEvent.AllDay.Value)
                        {
                            if ((int)calendarEvent.TimeBegin.DayOfWeek == i)
                            {
                                @calendarEvent.Text;
                                                   break;
                            }
                        }
                    }
                </div>
            }
        </div>
    </div>

    <div class="scrollCalendar">
        @for (int i = 0; i < 24; i++)
        {
            <div class="weekBodyRow">
                <div class="timeColTd">@String.Format("{0:D2}:00", i)</div>
                @for (int j = 0; j <= 6; j++)
                {
                    <div class="weekBodyTd">
                        @{
                            bool flag = false;
                            foreach (CalendarEvent calendarEvent in Model)
                            {
                                if ((int)calendarEvent.TimeBegin.DayOfWeek == j)
                                {
                                    if (calendarEvent.TimeBegin.Hour >= i && calendarEvent.TimeBegin.Hour <= i + 1)
                                    {
                                        <div class="calendarEvent">@calendarEvent.Name;</div>
                                        flag = true;
                                    }
                                }
                            }
                            if (!flag)
                            {
                                <div class="calendarEvent">@string.Empty</div>
                            }
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>
<script>
    $(document).ready(setActiveNavigator("week"));
</script>