@model web_calendar.BL.ViewModels.CalendarViewModel

<script src="~/Scripts/customScripts.js"></script>

<div class="calendarMonthTable">
    <div class="monthHead">
        <div class="monthHeadTh" id="day1">Sunday</div>
        <div class="monthHeadTh" id="day2">Monday</div>
        <div class="monthHeadTh" id="day3">Tuesday</div>
        <div class="monthHeadTh" id="day4">Wednesday</div>
        <div class="monthHeadTh" id="day5">Thursday</div>
        <div class="monthHeadTh" id="day6">Friday</div>
        <div class="monthHeadTh" id="day7">Saturday</div>
    </div>

    <div>
        @{int counter = 1;
          int lineStartCellNumber = 1;
          int lineEndCellNumber = 7;
          }
        @for (int i = 1; i <= 5; i++)
        {
            <div>
                @{lineStartCellNumber = 1;
                  lineEndCellNumber = 7;}

                @if (i == 1)
                {
                    <div>
                        @{lineStartCellNumber = 1;
                          lineEndCellNumber = Model.calendarDateTime.GetWeekDayNumberOfFirstMonthDay();}

                        @for (int prev = lineStartCellNumber; prev <= lineEndCellNumber; prev++)
			            {
                            <div class="monthBodyTd">
                                <p></p>
                            </div>
			            }

                        @{lineStartCellNumber = lineEndCellNumber + 1;
                        lineEndCellNumber = 7;}
                    </div>
                }
                @for (int j = lineStartCellNumber; j <= lineEndCellNumber; j++)
                {
                    <div id="cellId@(counter)" class="monthBodyTd">
                        @{counter++;}
                        <p>@i @j</p>
                    </div>
                }
            </div>
        }
    </div>

    <script type="text/javascript">
        var model = @Html.Raw(Json.Encode(Model));
        SetMainColor(model.CSSMainColor, 35);
        SetHeadColor(model.CSSHeadColor);
    </script>
</div>