@model IEnumerable<web_calendar.BL.ViewModels.CalendarViewModel>

@{
    ViewBag.Title = "Calendar";
}

<div class="calendarWrapper">
    <div class="miniCalendarContainer">
        <div id="datetimepicker"></div>
        <script type="text/javascript">            
            $("#datetimepicker").datepicker(
                {
                    inline: true,
                    format: "dd-mm-yyyy"
                }
            ).on("changeDate", function () {
                var dateObject = $("#datetimepicker").datepicker("getDate");
                var dateString = dateObject.getDate() + "-" + (dateObject.getMonth() + 1) + "-" + dateObject.getFullYear();
                $.ajax({
                    url: '@Url.Action("ShowDay", "Calendar")',
                    type: "get",
                    data: {Day: dateString},
                    success: function(data) {
                        document.getElementById("calendarContainer").innerHTML = data;
                        loadScript();                       
                    }
                });
            });
        </script>
        @Html.Partial("CalendarList")
    </div>

    <div class="calendarContainer" id="calendarContainer">
        @Html.Action("CalendarMonthPartial", new { id = Model.FirstOrDefault().id })
    </div>
</div>